<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<appSettings>
    <add key="dbConfigDataBasesConnectionString" value="EAAAABQFinJp23Xr2jOIT3L9G9rHJHooB0TRfn1oAtxsyGVXTo3QDOE2Xcy4UhPAwgF1H72v85EBP7kfjvZTZgRJ1LZ+GvAwuyNgnKhTIUxoYcQeabkZXrGu9owe/SflNc0eNw==" />
    <add key="CurrentTotalsystem" value="EAAAAGuKK3SlEkDD974Mb6FgLis0SJr4QVUJpn3vZzMfzdFa0tlUxGwHvJFngewzfqQoXdXnVUKNaSYMNMbMlBiI+nYuaNv0XAIOYrlmAjJSNZoW7c5CCX3+l4unCPj8nUK1uw==" />
    <add key="CurrentAmval" value="EAAAACF6bqSFEqkZ8ngjqzZP6JT8ZrMHxanq+JvIhSlbjsJAHwrDaCZ7R2Sm688aqPzNCUoxlHkcG27z0StO3g0Vd8qRlb5ykGjPUV75/CD/con/AGR8sCqFLqMDCl75x1RXlg==" />
</appSettings>
    <userSettings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>MetropolisDark</value>
            </setting>
        </DXThemeManager>
    </userSettings>
</configuration>
